<h3>Search Page</h3>

<div class="row">
  <div class="col-sm-8">
<!--
    <wt-google-map [geoObjects]="service.realEstates$"
                [selected]="service.selectedRealEstate"
                (markerClick)="onRealEstateClick($event)"></wt-google-map>
-->
  </div>

  <div class="col-sm-4">
<!--
    <wt-estate-details [item]="service.selectedRealEstate"></wt-estate-details>
-->
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
<!--
    <wt-data-table
      [items]="service.realEstates$ | async"
      [selectedItem]="service.selectedRealEstate"
      [metaData]="listHeaders"
      (itemClick)="onRealEstateClick($event)"></wt-data-table>
-->
  </div>
</div>


